<div id="<%= dom_id win %>">
  <p>
    <strong>Title:</strong>
    <%= win.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= win.description %>
  </p>

  <p>
    <strong>Impact:</strong>
    <%= win.impact %>
  </p>

  <p>
    <strong>Achievement date:</strong>
    <%= win.achievement_date %>
  </p>

  <p>
    <strong>Private notes:</strong>
    <%= win.private_notes %>
  </p>

  <p>
    <strong>User:</strong>
    <%= win.user_id %>
  </p>

</div>
