<!-- app/views/user_profiles/edit.html.erb -->
<div class="container mx-auto px-4 py-8">
  <div class=" w-full max-w-lg mx-auto bg-base-200 shadow-sm">
    <div class="card-body">
      <h2 class="card-title text-2xl mb-6">Edit Profile</h2>
      <%= form_with(model: @user_profile, url: user_profile_path, method: :patch, local: true, class: "space-y-4") do |form| %>
        <% if @user_profile.errors.any? %>
          <div class="alert alert-error">
            <div class="flex-1">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-6 h-6 mx-2 stroke-current">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"></path>
              </svg>
              <label>
                <%= pluralize(@user_profile.errors.count, "error") %> prohibited this profile from being saved:
                <ul>
                  <% @user_profile.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </label>
            </div>
          </div>
        <% end %>

        <div class="form-control">
          <%= form.label :first_name, class: "label mb-1" %>
          <%= form.text_field :first_name, class: "input input-bordered w-full !outline-none", placeholder: "First Name" %>
        </div>

        <div class="form-control">
          <%= form.label :last_name, class: "label mb-1" %>
          <%= form.text_field :last_name, class: "input input-bordered w-full !outline-none", placeholder: "Last Name" %>
        </div>

        <div class="form-control flex flex-col">
          <%= form.label :bio, class: "label mb-1" %>
          <%= form.text_area :bio, class: "!outline-none w-full textarea textarea-bordered h-24", placeholder: "Tell us about yourself" %>
        </div>

        <div class="form-control">
          <%= form.label :location, class: "label mb-1" %>
          <%= form.text_field :location, class: "input input-bordered w-full !outline-none", placeholder: "Your Location" %>
        </div>

        <div class="form-control mt-6">
          <%= form.submit "Update Profile", class: "btn btn-primary w-full" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
