<!DOCTYPE html>
<html>
  <head>
    <title>Bragsheet.pro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <% if Current.user %>
      <div class="drawer lg:drawer-open">
        <input id="main-sidebar" type="checkbox" class="drawer-toggle" />
        
        <div class="drawer-content">
          <!-- Hamburger menu button -->
          <label for="main-sidebar" class="btn btn-ghost drawer-button lg:hidden fixed top-4 left-4 z-50">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </label>
          
          <main class="p-4 lg:p-8">
            <%= yield %>
          </main>
        </div> 
        
        <%= render "sidebar" %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
